.svend{
    background-color: #b74465;
    padding: 4px;
    font-family: sans-serif;
    font-weight: 300;
}
.keld{
    background-color: rgb(110, 70, 147);
    text-decoration: none;
    color: aliceblue;
}